<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section *ngIf=" login ">
    <div warning>
      You are logged in as "{{ loginData.email }}" already !
    </div>
      <button ion-button (click)="onClickLogout()">LOGOUT</button>
      <button ion-button (click)="onClickProfile()">UPDATE PROFILE</button>
      <button ion-button (click)="onClickResign()">RESIGN</button>
  </section>

  <section *ngIf=" ! login ">
    <button ion-button (click)="onClickLogin()">LOGIN</button>
    <button ion-button (click)="onClickRegister()">REGISTER</button>
  </section>
</ion-content>
