<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col width-10><ion-icon name="home" (click)="onClickHome()"></ion-icon></ion-col>
      <ion-col>
        <ion-title *ngIf=" !login ">Member Registration</ion-title>
        <ion-title *ngIf=" login" >Member Update</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <section *ngIf=" login ">
    <div warning>
      Welcome, {{ loginData.email }}
    </div>
  </section>

    <ion-list>

{{ urlPhoto }}
{{ userData | json }}

      <ion-item>
        <div *ngIf=" urlPhoto " (click)="onClickPhoto()">
          <img [src]="urlPhoto">
        </div>
        <div *ngIf=" userData?.urlPhoto ">
          <button ion-button (click)="onClickDeletePhoto()">DELETE</button>
        </div>
        <input *ngIf=" ! cordova " type="file" (change)="onChangeFile($event)">
        <div *ngIf=" file_progress ">
          <progress [value]="position" max="100"></progress>
        </div>
      </ion-item>


      <ion-item *ngIf=" ! login ">
        <ion-label floating>Input Email</ion-label>
        <ion-input [(ngModel)]="userData.email"></ion-input>
      </ion-item>

      <ion-item *ngIf=" ! login ">
        <ion-label floating>Input Password</ion-label>
        <ion-input [(ngModel)]="userData.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Input Name</ion-label>
        <ion-input [(ngModel)]="userData.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Input Mobile</ion-label>
        <ion-input [(ngModel)]="userData.mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Input Address</ion-label>
        <ion-input [(ngModel)]="userData.address"></ion-input>
      </ion-item>

      <div progress *ngIf=" progress ">
        <ion-spinner name="bubbles"></ion-spinner>
        {{ progress }}
      </div>
      <div warning *ngIf=" error ">
        {{ error }}
      </div>
      <div result *ngIf=" result ">
        {{ result }}
      </div>

      <button *ngIf=" ! login " ion-button (click)="onClickRegister()">REGISTER</button>
      <button *ngIf=" login " ion-button (click)="onClickUpdate()">UPDATE</button>
      <button ion-button (click)="onClickCancel()">CANCEL</button>
      <button ion-button (click)="onClickLogout()">LOGOUT</button>
    </ion-list>

</ion-content>
